html
  script(src='https://cdn.socket.io/socket.io-1.4.5.js')
  script(src='https://code.jquery.com/jquery-2.2.4.js')
  script
    include ../views/main.js
  head
    title Socket.IO test video
  body(style='display: -webkit-inline-box;')
    video#video(style='display:none', src='', autoplay='true')
    p source
    canvas#preview
    #logger
    p player
    img#player(src='')